@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a { text-decoration: none; }

li { list-style: none; }

img, ion-icon, a, button, time, span { display: block; }

button {
  font: inherit;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

input, textarea {
  display: block;
  width: 100%;
  background: none;
  font: inherit;
}

::selection {
  background: hsl(45, 100%, 72%);
  color: hsl(0, 0%, 7%);
}

:focus { outline-color: hsl(45, 100%, 72%); }

html {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  background: hsl(0, 0%, 7%);
  color: hsl(0, 0%, 84%);
}

#root {
  min-height: 100vh;
}
